body{
    background: url('https://www.tesla.com/sites/default/files/images/blogs/tesla_solar_roof.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: left top;
    background-size: cover;
}

.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}