<%- include('header') -%>
    <div id="root"><%- initialMarkup -%></div>
	<script type="text/javascript">window.initialData = <%- JSON.stringify(initialData) -%>;</script>
	<script src="/bundle.js" charset="utf-8"></script>
<%- include('footer') -%>