<%- include('header') -%>
	<div class="text-vertical-center">
    	<h2 class="home-text">A ROOF WITH INVISIBLE POWER!</h2>
    	<hr class="home-text">
    	<h5 class="home-text">Our solar roof generates clean energy with solar you can't even see. Now that's powerful.</h5>
    	<br>
    	<button class="btn btn-success"><a class="home-text" href="/customer">I'm interested</a></button>
    </div>
<%- include('footer') -%>